.c-btn {
  display: inline-block;
  padding: 12px 24px;
  border: 1px solid var(--clr-border);
  border-radius: 100vh;
  text-decoration: none;
  text-align: center;

  @media (min-width: 576px) {
    padding: 16px 40px;
  }

  &.c-btn--primary {
    border: 1px solid var(--clr-primary-300);
    color: var(--clr-white);
    background: var(--clr-primary-300);

    &:hover {
      border: 1px solid var(--clr-primary-600);
      background: var(--clr-primary-600);
    }
  }

  &.c-btn--primary.c-btn--primary-disabled {
    border: 1px solid var(--clr-component-disabled-bg);
    background: var(--clr-component-disabled-bg);

    &:hover {
      border: 1px solid var(--clr-component-disabled-bg);
      background: var(--clr-component-disabled-bg);
    }
  }
}

.c-bookmark {
  display: inline-flex;
  padding-right: 0;
  align-items: center;
  justify-content: space-between;
  border-radius: 100vh;
  text-decoration: none;
  background: var(--clr-component-bg);

  &.c-bookmark-clicked {
    //padding-right: 0;

    .c-bookmark__icon {
      background: url(".././images/icon-bookmark-clicked.svg");
    }

    .c-bookmark__text {
      //display: none;
      color: var(--clr-primary-300);
    }
  }

  &__icon {
    display: inline-block;
    width: 56px;
    height: 56px;
    background: url(".././images/icon-bookmark.svg");
  }

  &__text {
    display: none;
    margin-left: 8px;
    color: var(--clr-dark-grey);
  }

  @media (min-width: 576px) {
    padding-right: 16px;

    &__text {
      display: inline-flex;

    }
  }
}