
.c-card {
  border-radius: 10px;
  border: 1px solid var(--clr-border);
  background: var(--clr-white);

  &__footer {
    display: flex;
    //flex-direction: row;
    padding: var(--padding-300);
    justify-content: space-between;
    align-items: center;
  }

  &__header {
    display: flex;
    flex-direction: column;
    padding: var(--padding-300);

    h2 {
      font-size: var(--fs-700);
      font-weight: var(--fw-800);
      line-height: 24px;
      text-align: center;
    }

    h3 {
      width: auto;
      font-size: var(--fs-500);
      font-weight: var(--fw-800);
      line-height: 24px;
    }

    h4 {
      width: auto;
      font-size: var(--fs-500);
      font-weight: var(--fw-600);
      line-height: 24px;
      color: var(--clr-primary-300);
    }
  }

  &__body {
    padding: var(--padding-300);

    .c-card__text {
      margin-bottom: 16px;
      text-align: center;
      font-size: var(--fs-500);
      font-weight: var(--fw-600);
      color: var(--clr-dark-grey);
    }
  }
}

.c-card.c-card--sub {

  .c-card__body {
    .c-card__title, .c-card__text {
      text-align: left;
    }
  }
}

.c-card.c-card--product {

  .c-card__footer {
    flex-direction: column;
    align-items: start;
  }

  @media (min-width: 576px) {
    .c-card__header, .c-card__footer {
      flex-direction: row;
      justify-content: space-between;
    }

    .c-card__footer {
      align-items: center;
    }
  }

  &.c-card--product-disabled {
    .c-card__header {

      h3 {
        color: var(--clr-dark-grey);
      }

      h4 {
        color: var(--clr-primary-100);
      }
    }

    .c-card__text {
      color: var(--clr-component-disabled-bg);
    }
  }
}

.c-card.c-card--pledge {

  &.c-card--pledge-active {
    border: 1px solid var(--clr-primary-600);

    .c-card__footer {
      display: flex;
    }
  }

  .c-card__footer {
    display: none;
    border-top: 1px solid var(--clr-border);
    flex-direction: column;

    h4 {
      padding-bottom: 16px;
      font-size: var(--fs-500);
      font-weight: var(--fw-600);
      color: var(--clr-dark-grey);
    }

    .l-formContainer {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
    }

    @media (min-width: 576px) {
      flex-direction: row;

      .l-formContainer {
        width: fit-content;
        justify-content: end;
      }

      .c-btn {
        margin-left: 16px;
      }
    }
  }

}