
.header {
  background: url(".././images/image-hero-mobile.jpg") no-repeat center center/ 100%;
  height: 300px;

  &__sub {
    position: fixed;
    padding: 16px 0;
    left: 0;
    right: 0;
    z-index: 300;
  }

  &__brand {
    text-decoration: none;
    color: var(--clr-white);
    font-size: var(--fs-700);
    font-family: var(--ff-primary);
    font-weight: var(--fw-800);
  }
}

@media (min-width: 375px) {
  header {
    //background: url(".././images/image-hero-mobile.jpg") no-repeat center 100%;

  }
}

@media (min-width: 1440px) {
  header {
    background: url(".././images/image-hero-desktop.jpg") no-repeat center center/ 100%;
    height: 400px;
  }
}
