.c-number {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 12px 24px;
  border: 1px solid var(--clr-border);
  border-radius: 100vh;

  @media (min-width: 576px) {
    padding: 16px 40px;
  }

  &__input {
    width: 40px;
    padding: 0;
    border: none;
    color: var(--clr-black);
    font-weight: var(--fw-800);

    &:focus, &:active {
      border: none;
      box-shadow: none;
      outline: none;
    }
  }

  &__hint {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
    color: var(--clr-dark-grey);
    font-weight: var(--fw-800);
  }
}