
.l-container {
  width: 90%;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}


.l-list {

  &.l-list--counter {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &.l-list--pledge {
    padding: 16px;
    margin-bottom: 32px;
    background: var(--clr-white);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

  }

  & > * {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}